/* ===============================
   PRODUCT DESCRIPTION
   =============================== */
.product-description {
  max-width: 1200px;
  margin: 32px auto 20px auto; /* ↓ espaço abaixo do bloco */
  padding: 15px 30px 10px 30px; /* ↓ menos espaço no topo */

  background: var(--bg-page);
  border-radius: 8px;

  color: var(--text-primary);
}
/* ===============================
   TÍTULO
   =============================== */
.product-description h2 {
  margin-top: 0;               
  margin-bottom: 0;           
  padding-bottom: 16px;        
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid var(--gray-200);
}

/* ===============================
   CONTEÚDO
   =============================== */

.description-content {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  max-width: 800px;
}


/* ===============================
   PARÁGRAFOS
   =============================== */

.description-content p {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--text-secondary);
}


@media (max-width: 768px) {
  .product-description {
    padding: 20px;
    margin-bottom: 32px;
  }

  .product-description h2 {
    font-size: 1.3rem;
    padding-bottom: 12px;
  }

  .description-content {
    margin-top: 16px;
  }
}
