/* =========================
   BASE GLOBAL DA APLICAÇÃO
   ========================= */

.app {
  min-height: 100vh;

  /* Transição suave ao trocar tema */
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Aplica as variáveis do tema */
  background-color: var(--bg-page);
  color: var(--text-primary);
}

/* =========================
   TEMA CLARO
   ========================= */
.app.light {
  /* Fundo geral */
  --bg-page: #ffffff;

  /* Cards / superfícies */
  --bg-card: #f7f7f7;

  /* Texto */
  --text-primary: #111111;
  --text-secondary: #555555;
}

/* =========================
   TEMA ESCURO
   ========================= */
.app.dark {
  /* Fundo geral */
  --bg-page: #121212;

  /* Cards / superfícies */
  --bg-card: #1f1f1f;

  /* Texto */
  --text-primary: #ffffff;
  --text-secondary: #bbbbbb;
}

/* =========================
   BOAS PRÁTICAS GERAIS
   ========================= */

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
   
}

/* =========================
   LOGO – COMPORTAMENTO GLOBAL
   ========================= */

/* Logo padrão */
.logo {
  height: 32px;
  width: auto;
  display: block;
}

/* Tema claro → logo escura */
.app.light .logo, .auth-logo {
  filter: invert(1);
}

/* Tema claro → logo escura */
.app.light .auth-logo {
  filter: invert(1);
}


/* Tema escuro → logo normal */
.app.dark .logo, .auth-logo {
  filter: none;
}
